.flex {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.asideProdutos {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    height: auto;
}

.ajusteAside {
    width: 50%;
}


.inputPreco {
    width: 30%;
    border: none;
    height: 2vw;
}

.ajusteMinMax {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radios {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ajusteAplicar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
}

.mainComprarProdutos {
    width: 100%;
    height: auto;
}

.ajusteHeaderMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.classificar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.classificacao {
    padding: 5px 8px;
    border-radius: 5px;
}

.btnGrid img,
.btnList img {
    width: 50%;
}

/*LISTA PRODUTOS*/

.gridProdutos {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.ajustebtnVerMais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
}

.btnVerMais {
    background: #FF69B4;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
}

/*PEDIR PRODUTO*/

.ajusteProdutoinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    height: 90vh;
}

.imgBox {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: -30px;
    left: 80px;
    width: 100%;
}

.ajusteProdutoinfo div {
    width: 60%;
}

.carousel-img-pedir {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.descricao {
    width: 80%;
    margin: auto;
}