.backHeader {
    background-color: #EED0F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.ajusteEsquerda,
.ajusteDireita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.ajusteEsquerda picture a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ajusteEsquerda picture a img {
    width: 100%;
}

.ajusteEsquerda nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    gap: 25px;
}

.ajusteEsquerda nav ul,
.ajusteDireita ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.ajusteEsquerda nav ul li a,
.ajusteDireita ul li a {
    transition: 0.5s ease;
    text-decoration: none;
    color: #0A111A;
}

.ajusteEsquerda nav ul li a:hover,
.ajusteDireita ul li a:hover {
    color: #FEF1F8;
}

input[type="search"] {
    border: none;
    outline: none;
    padding: 6px 8px;
    background-color: #fff;
    width: 85%;
}

.procurar {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #fff;
    padding: 5px 10px;
}

.procurar img {
    width: 10%;
    background-color: #fff;
}

.cadastro a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #0A111A;
    color: #fff !important;
    padding: 10px 15px;
    border-radius: 8px;
}