.admin-dashboard {
    font-family: "Inter";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    display: flex;
    align-items: left;
    gap: 10px;
    padding: 8px 0;
    cursor: pointer;
}

.sidebar-menu .links {
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.sidebar-menu img {
    width: 18px;
    height: 18px;
}

.header {
    height: 60px;
    min-height: 60px;
    padding: 0 20px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.btn-novo {
    border: 0;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 6px;
    cursor: pointer;
    border-radius: 6px;
    font-family: "Inter";
    font-weight: 500;
}

.iconMais {
    font-weight: 300;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    overflow-y: auto;
    /* background: #fafafa; */
}

.cards-area {
    margin: 20px;
}

h3 {
    font-weight: 400;
}

.icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(40%) sepia(10%) hue-rotate(0deg);
    transition: filter .2s ease;
}

.sidebar-menu li:hover .icon,
.sidebar-menu li:hover .links {
    filter: brightness(100%) saturate(100%) invert(29%) sepia(96%) saturate(7002%) hue-rotate(320deg) brightness(100%) contrast(70%);
}

.estatisticas-dashboard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.insights {
    display: flex;
    gap: 20px;
}

.insights div {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: #ccc 1px solid;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    flex: 1;
}

.insights div h2 {
    margin: 0;
}

p {
    margin: 8px 0;
}

.quickActions {
    background-color: #fff;
    padding: 24px;
    border: #ccc 1px solid;
    border-radius: 6px;
}

/* Botões de ações rápidas, como criar produto, ver pedidos, etc. */

.actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
}

.quickActions h3 {
    margin-top: 0;
}

.quickActions button {
    font-family: "Inter";
    height: 80px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 6px;
    font-weight: 500;
}

/* formulário pra editar as info do adm */
canvas {
    width: 200px;
    height: 200px;
    background: #ccc;
    border-radius: 100%;
    border: #333 solid 1px;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-adm {
    display: flex;
}

.form-editar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background: #fff; */
    padding: 20px;
    border-radius: 8px;
    /* border: #ccc 1px solid; */
    width: 100%;
}

.layout-form {
    padding: 30px;
    width: 100%;
}

.layout-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.layout-form label {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.form-editar div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.addProdutos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e5e5e5;
    gap: 2vw;
}

.infoProdutos,
.fotoProduto {
    height: 80vh;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.infoProdutos h2,
.fotoProduto h2 {
    margin-top: 0;
}

.ttlP {
    margin-bottom: 2px;
}

.subP {
    margin-top: 2px;
}

.ajusteLabelP {
    display: block;
}

.infoProdutos {
    width: 40%;
}

.fotoProduto {
    width: 25%;
}



.ajusteImagemUpload {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

.imagemUpload {
    height: 10vw;
    flex: 1 1 calc(50% - 10px);
    /* 2 colunas */
    background-color: #333;
}