.ajustepage {
    display: flex;
    margin: 2vw auto;
    width: 90%;
    height: auto;
}

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 38vw;
    justify-content: space-between;
}

.juntos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 15vw;
    gap: 15px;
}

.fotoPerfil {
    border-radius: 50%;
}

main {
    width: 85%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: auto;
}

.Forms {
    width: 90%;
}

.ajusteBlocoForm {
    display: flex;
    gap: 20px;
}

.Infos {
    background: #FEF1F8;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
    width: 50%;
}

.Infos.active {
    background-color: #FF69B4;
}

.compras {
    width: 100%;
}


.subMenuCompras {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
}

.btnCompras {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btnCompras.ativo {
    font-weight: bold;
    text-decoration: underline;
    font-size: 19px;
}